<UserScriptConfig>
	<Script basedir="peka2tv" checkRemoteUpdates="1" dependhash="ac10b609dce61da20fed81faaac5bc04f8c74292" description="sc2tv.ru redesign + extra features" enabled="false" filename="peka2tv.user.js" installTime="1366653806535" modified="1367162245486" name="peka2tv" namespace="sc2tv.ru http://userscripts.org/users/515123" runAt="document-end" uuid="fc95de21-9a68-49d4-9123-fe4c5d3b0e5c" version="0.1b" installurl="file:///C:/Users/ps/AppData/Roaming/Mozilla/Firefox/Profiles/iqeic01i.default/gm_scripts/peka2tv/peka2tv.user.js" updateurl="file:///C:/Users/ps/AppData/Roaming/Mozilla/Firefox/Profiles/iqeic01i.default/gm_scripts/peka2tv/peka2tv.user.js">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_getResourceText</Grant>
		<Include>http://sc2tv.ru/*</Include>
		<Require filename="jquery-latest.js"/>
		<Resource name="peka2tv_style" filename="peka2tv.css" mimetype="text/css"/>
	</Script>
	<Script basedir="peka2tv_chat_restyle" checkRemoteUpdates="1" dependhash="e2162e056213f8e97c7f9862e72a599d904b370c" description="sc2tv.ru chat extra features" enabled="false" filename="peka2tv_chat_restyle.user.js" installTime="1366757802552" modified="1367162244449" name="peka2tv chat" namespace="sc2tv.ru" runAt="document-end" uuid="8f138d56-f2c3-4736-9ad7-554f05d7b83b" version="0.1b" installurl="file:///C:/Users/ps/AppData/Roaming/Mozilla/Firefox/Profiles/iqeic01i.default/gm_scripts/peka2tv_chat_restyle/peka2tv_chat_restyle.user.js" updateurl="file:///C:/Users/ps/AppData/Roaming/Mozilla/Firefox/Profiles/iqeic01i.default/gm_scripts/peka2tv_chat_restyle/peka2tv_chat_restyle.user.js">
		<Grant>GM_getValue</Grant>
		<Grant>GM_setValue</Grant>
		<Grant>GM_addStyle</Grant>
		<Grant>GM_getResourceText</Grant>
		<Include>http://chat.sc2tv.ru/*</Include>
		<Require filename="jquery-latest.js"/>
		<Resource name="peka2tv_chat_style" filename="peka2tv_chat.css" mimetype="text/css"/>
	</Script>
</UserScriptConfig>